.exhibit{ class:  @exhibit[:name] }
  %header
    .container
      .row.h-100
        .col
          .title
            = @exhibit[:title]
            %small= @exhibit[:date]
          .ribbons
            %p.ribbon
              distanz:
              %span.distance 135 km
            %p.ribbon
              höhenzunahme:
              %span.elevationgain 2'800 m
            %p.ribbon
              fahrzeit:
              %span.movingtime 9 h

  %section
    .container.my-xl-4.my-2
      .row
        .col-12.col-xl-10.offset-xl-1
          %iframe{ src: "https://ridewithgps.com/embeds?type=trip&id=73585785&metricUnits=true&sampleGraph=true", style: "width: 1px; min-width: 100%; height: 500px; border: none;", scrolling: "no" }
    .container
      .row
        .col-12
          = image_tag '/assets/chlausepragel/before.jpg', class: 'my-xl-4.my-2'
      .row
        .col-12.col-xl-8.offset-xl-2.text.my-xl-4.my-2
          %p nach jüngsten Erfahrungen mit verschiedenem Gepäck und längeren Fahrten gezielt leichtes Gepäck und kein Packträger. auch für Kleider und Schuhe gelten bei vielen Stunden auf der Strasse andere Anforderungen als beim Mountainbike. bis zum Waldweg soll aber alles gut fahrbar sein
          %p lange gewartet, ob die Hitze abnimmt. um fünf dann los in Richtung erster Anstieg: Linthal > Urnerboden
      .row
        .col-10.offset-1
          = image_tag '/assets/chlausepragel/chlause.jpg', class: 'my-xl-4.my-2'
      .row
        .col-12.col-xl-8.offset-xl-2.text.my-xl-4.my-2
          %p
            erste von vielen Pausen. das Gepäck wurde schon kurz nach Abfahrt justiert, in letzter Minute noch für einen Ersatzschlauch
            %strong und
            Flickzeug entschieden
      .row
        .col-6
          = image_tag '/assets/chlausepragel/chlause1.jpg', class: 'my-xl-4.my-2'
        .col-6
          = image_tag '/assets/chlausepragel/chlause2.jpg', class: 'my-xl-4.my-2'
      .row
        .col-12.col-xl-8.offset-xl-2.text.my-xl-4.my-2
          %p kurz nach 7, kurz nach 1 Portion Pommes und kurz vor 9, kleiner Dessert und ringsum Alpsegen. anwesende Autocamper haben sogar die Musik pausiert
      .row
        .col-12
          = image_tag '/assets/chlausepragel/pass.jpg', class: 'my-xl-4.my-2'
      .row
        .col-12.col-xl-8.offset-xl-2.text.my-xl-4.my-2
          %p auf Passhöhe, halb10
          %p die Abfahrt auf dunkeln, unbekannten Strassen heisst auch, viele Kilo- und Höhenmeter zwischen mir und Zuhause
      .row
        .col-6
          = image_tag '/assets/chlausepragel/ruhe.jpg', class: 'my-xl-4.my-2'
        .col-6
          = image_tag '/assets/chlausepragel/selfie.jpg', class: 'my-xl-4.my-2'
      .row
        .col-12.col-xl-8.offset-xl-2.text.my-xl-4.my-2
          %p nach Mitternacht waren ungeplant alle Lampenakkus leer. "churz aneligge" und schon 7 früh
          %p in der zweiten Etappe wird die Randonnée erst zu dieser
    .container-fluid.finish
      .row
        .col.text-center
          %span.one= '#'
          %span.two= 'Living'
          %span.three= 'Men'
          %span.four= 'Ride'
          %span.five= 'Free'
