.exhibit{ class:  @exhibit[:name] }
  %header
    .container{ style: "background-image: url(#{image_path @exhibit[:name] + '/header.jpg'})" }
      .row.h-100
        .col
          .title
            = @exhibit[:title]
            %small= @exhibit[:date]
          .ribbons
            %p.ribbon
              distanz:
              %span.distance 63 km
            %p.ribbon
              höhenzunahme:
              %span.elevationgain 1'500+ m
            %p.ribbon
              fahrzeit:
              %span.movingtime 5 h

  %section
    .container.my-xl-4.my-2
      .row
        .col-12.col-xl-10.offset-xl-1
          %iframe{ src: "https://ridewithgps.com/embeds?type=trip&id=74105325&metricUnits=true&sampleGraph=true", style: "width: 1px; min-width: 100%; height: 500px; border: none;", scrolling: "no" }
    .container
      .row
        .col-6
          = image_tag '/assets/laengenegg/laengenegg1.jpg', class: 'my-xl-4.my-2'
        .col-6
          = image_tag '/assets/laengenegg/laengenegg2.jpg', class: 'my-xl-4.my-2'
      .row
        .col-12.col-xl-8.offset-xl-2.text.my-xl-4.my-2
          %p im Aufstieg zum Obersee / am Obersee
          %p Sonne wenig, Temperatur tief für Ende August, Transpiration gewohnt hoch
      .row
        .col-10.offset-1
          = image_tag '/assets/laengenegg/laengenegg3.jpg', class: 'my-xl-4.my-2'
      .row
        .col-12.col-xl-8.offset-xl-2.text.my-xl-4.my-2
          %p
            Blick zurück, Obersee schon versteckt. gut über 10% Steigung.
            %br
            kurz vor Passhöhe werden es dann bis 25%
      .row
        .col-10.offset-1
          = image_tag '/assets/laengenegg/laengenegg4.jpg', class: 'my-xl-4.my-2'
      .row
        .col-12.col-xl-8.offset-xl-2.text.my-xl-4.my-2
          %p letzte Pause vor der nächsten Pause. Material wie erwartet tiptop
      .row
        .col-12
          = image_tag '/assets/laengenegg/laengenegg6.jpg', class: 'my-xl-4.my-2'
      .row
        .col-12.col-xl-8.offset-xl-2.text.my-xl-4.my-2.with-image
          %p knapp 3 Jahre früher, von der anderen Seite mit mehr Sonne:
          = image_tag '/assets/laengenegg/laengenegg_past.jpg', class: 'in-textbox'
      .row
        .col-12
          = image_tag '/assets/laengenegg/laengenegg5.jpg', class: 'my-xl-4.my-2'
    .container-fluid.finish
      .row
        .col.text-center
          %span.one= '#'
          %span.two= 'Living'
          %span.three= 'Men'
          %span.four= 'Ride'
          %span.five= 'Free'
