%header
  .container
    .row
      .col
        .title
          exposition
          %small donat baier

%section.exhibits
  - @exhibits.each do |exhibit|
    = link_to exhibit_path(exhibit[:name]) do
      .container.exhibit
        .row
          .col-6
            = image_tag(asset_path(exhibit[:poster]))
          .col-6
            %h2= exhibit[:title]
            %p= exhibit[:description].html_safe
            .date
              %strong= exhibit[:date]
